body {
    padding-bottom: 100px;
    background-image: url("../images/tic-tac-toe/tic-tac-toe.png")
}

h1, h2 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

h1 {
    color: #ffffff;
    background-color: #4aaaa5;
}

footer {
    color: #ffffff;
    background-color: #777777;
    border-top: 6px solid #4aaaa5;
}

p {
    line-height: 200%;
}

.container-fluid div {
    overflow: auto;
}

#portfolioImages img {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.absolute-wrapper {
    position: absolute;
    width: 100%;
    top: 70%;
    padding-left: 16px;
    padding-right: 16px;
}

.caption {
    background-color: #4aaaa5;
    color: white;
}

@media (min-width: 1140px) {
    h1 {
        font-size: 3em;
    }

    .col-lg-7 {
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 2.5em;
    }

    .col-md-10 {
        max-width: 66.666666%;
    }

    .img-fluid {
        max-width: 50%;
    }
}

@media (max-width: 950px) {
    h1 {
        font-size: 2em;
    }

    .col-md-10 {
        max-width: 100%;
    }

    .img-fluid {
        max-width: 100%;
    }
}

@media (max-width:767px) {
    h1 {
        font-size: 2em;
    }

    .offset-1 {
        margin-left: 0px;
        padding: 0px;
    }

    #indexContent, #portfolioImages, #contactContent {
        margin-left: 8.333333%;
    }

    #navheader {
        justify-content: center!important;
    }

    #indexHeader .float-left {
        float: none!important;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}